# BOAZ 12기 1주차 과제 파이썬 기초 문법

- 원하는 함수가 기억이 안나면 [이곳](https://wikidocs.net/book/1)을 참고해주세요
- 자주 사용하는 함수는 기억하는 것이 좋지만 대부분 기억이 나지 않습니다
- 원하는 기능이 있는 함수를 구글링 하는 능력이 중요합니다
- 영어로 어떻게 검색해야 하는지 학습하는 것이 가장 좋습니다

#### 1. 자료형 문제
#### 1-1. Slice 기능을 이용해 'you need python'(모두 소문자로) 을 출력하세요.

In [2]:
a = "Life is too short, You need Python"

In [3]:
# Your Code Here
"".join(list(a)[19:])

'You need Python'

#### 1-2. 숫자와 나누는 수를 입력하면 나머지를 반환하는 함수 remainder를 작성하세요

In [4]:
# Your Code Here
def remainder(a, b):
    return a % b

In [5]:
remainder(5,3)

2

#### 1-2. 입력한 수의 평균을 반환하는 함수 mean을 작성하세요 (*args를 이용해보세요 !)

In [6]:
# Your Code Here
def mean(*args):
    return sum(args) / len(args)

In [7]:
mean(1,2,3)

2.0

In [8]:
print(mean(1,2,3),mean(1,2,3,4,5,6,7,8), sep = "\n")

2.0
4.5

#### 1-3. for와 range를 사용해서 0부터 9까지 중 홀수인 1, 3, 5, 7, 9만 odd_nums에 저장하고 출력하는 코드를 짜보세요.

In [9]:
odd_nums = []
# Your Code Here 
for i in range(0,10,2):
    odd_nums.append(i+1)
odd_nums

[1, 3, 5, 7, 9]

#### 1-4. 다음 리스트에서 생일만 리스트에 담는 함수 birth를 작성하세요

In [10]:
pin1 = " 930115-1234567"
pin2 = "990101- 2257262"
pin3 = "000327 - 1010209"
pin4 = "010101-2047219 "
pin5 = "9706091360217"
pin = [pin1, pin2, pin3, pin4, pin5]
print(pin)

[' 930115-1234567', '990101- 2257262', '000327 - 1010209', '010101-2047219 ', '9706091360217']

In [11]:
# Your Code Here
def birth(List):
    result =[]
    for i in pin:
        i = i.replace(" ","")
        result.append(i[2:6])
    return result

In [12]:
birth(pin)

['0115', '0101', '0327', '0101', '0609']

#### 2. 함수 문제
#### 2-1.  if/ elif/ else문을 사용해서 2019년이 윤년인지 계산하는 코드를 짜보세요. 
- 윤년 계산법
    - 연도가 400으로 나누어 떨어지면 윤년입니다. 
    - 연도가 4로 나누어 떨어지면서 100으로 나누어 떨어지지 않으면 윤년입니다.

In [13]:
year = 2019 
### your code ### 
if year % 400 == 0:
    print("윤년")
elif year % 4 ==0 and year % 100 !=0:
    print("윤년")
else:
    print("윤년이 아님")

윤년이 아님

#### 2-2. 더하기, 빼기, 곱하기, 나누기 기능이 있는 클래스 Calculator를 작성하세요

In [14]:
# Your Code Here
class Calculator:
    def __init__(self, num1, num2):
        self.num1 = num1
        self.num2 = num2
    def add(self):
        return self.num1+self.num2
    def substract(self):
        return self.num1 - self.num2
    def multiply(self):
        return self.num1 * self.num2
    def divide(self):
        return self.num1/self.num2

In [15]:
Cal = Calculator(13,7)
print(Cal.add(),Cal.substract(),Cal.multiply(),Cal.divide(), sep = "\n")

20
6
91
1.8571428571428572

#### 2-3. 가위바위보 게임 만들기
다음 요구사항에 맞는 가위바위보 게임을 만들어보세요.

In [16]:
# 사용자에게 '가위', '바위', '보'를 입력받으세요. 
import random 
while True:
    computerNumber = random.randint(0, 2)
    playerChoice = input()
    if playerChoice=="끝":
        break
        
    if computerNumber == 0:
        computerChoice = "보"
    elif computerNumber == 1:
        computerChoice = "가위"
    else:
        computerChoice = "바위"
    winning_rsp = {"가위" : "보", "보" : "바위", "바위" : "가위"}

    if not playerChoice in winning_rsp:
        print("가위 바위 보 중 하나를 내주세요!")

    else:
        if computerChoice == playerChoice:
            win = 1
        elif winning_rsp[playerChoice] == computerChoice:
            win = 2
        else:
            win = 0

    win_message = ["졌습니다", "비겼습니다", "이겼습니다"]
    print(computerChoice)
    print (win_message[win])

가위 바위 보 중 하나를 내주세요!
가위

NameError: name 'win' is not defined

# Numpy 연습문제

#### 1. Matrix 연산
#### 1-1. 다음과 같은 matrix a, b를 생성하고 서로 곱해보세요

In [17]:
import numpy as np

In [18]:
# Your Code Here
a = np.array([[1,2,3,4],
 [ 5 , 6 , 7 ,8],
 [ 9 ,10 ,11 ,12]])
b = np.array([[ 1,  2 , 3],
 [ 5 , 6 , 7],
 [ 9, 10, 11],
 [ 1 , 2 , 3]])
a.dot(b)

array([[ 42,  52,  62],
       [106, 132, 158],
       [170, 212, 254]])

In [19]:
print(a,b, sep ="\n")

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]
[[ 1  2  3]
 [ 5  6  7]
 [ 9 10 11]
 [ 1  2  3]]

#### 1-2. 다음 두 벡터의 내적과 외적 값을 구하세요

In [20]:
import numpy as np
a = np.array([1,2,3,4,5])
b = np.array([6,7,8,9,10])

In [21]:
# Your Code Here
print(a.dot(b))
print(a.reshape(5,1).dot(b.reshape(1,5)))

130
[[ 6  7  8  9 10]
 [12 14 16 18 20]
 [18 21 24 27 30]
 [24 28 32 36 40]
 [30 35 40 45 50]]

# Pandas

#### 1. dataframe 다루기
#### 1-1. 다음과 같은 dataframe을 생성하세요

In [22]:
# Your Code Here
import pandas as pd
labels = ['조','이름','성별']
data = [
    ("A","전승우",1),
("A","유응규",1),
("A","박재언",1),
("A","신광욱",1),
("A","박현정",2),
("A","문현주",2),
("B","성민석",1),
("B","이형남",1),
("B","전은정",2),
("B","김아영",2),
("B","남궁찬",1),
("B","고동희",1),
("C","박서호",1),
("C","지현이",2),
("C","윤훈상",1),
("C","양광민",1),
("C","송원호",1),
("D","양태일",1),
("D","하진용",1),
("D","정해원",2),
("D","유승룡",1),
("D","전용진",1),
("E","신하은",2),
("E","조문기",1),
("E","장현정",2),
("E","최준명",1),
("E","이동건",1)
]
twelve = pd.DataFrame.from_records(data,columns = labels)

In [23]:
twelve

    조   이름  성별
0   A  전승우   1
1   A  유응규   1
2   A  박재언   1
3   A  신광욱   1
4   A  박현정   2
5   A  문현주   2
6   B  성민석   1
7   B  이형남   1
8   B  전은정   2
9   B  김아영   2
10  B  남궁찬   1
11  B  고동희   1
12  C  박서호   1
13  C  지현이   2
14  C  윤훈상   1
15  C  양광민   1
16  C  송원호   1
17  D  양태일   1
18  D  하진용   1
19  D  정해원   2
20  D  유승룡   1
21  D  전용진   1
22  E  신하은   2
23  E  조문기   1
24  E  장현정   2
25  E  최준명   1
26  E  이동건   1

#### 1-2. A조 남자와 E조 여자를 출력하세요

In [24]:
# Your Code Here
twelve.loc[((twelve['조']=='A') & (twelve["성별"]==1))|((twelve['조']=='E') & (twelve['성별']==2)),:]

    조   이름  성별
0   A  전승우   1
1   A  유응규   1
2   A  박재언   1
3   A  신광욱   1
22  E  신하은   2
24  E  장현정   2

#### 1-3. 이씨를 출력하세요 (List 내포 for문을 써서 한줄로 짜보세요 !)

In [25]:
# Your Code Here
result = list(x for x in list(twelve.이름) if x[0]=='이')

In [26]:
result

['이형남', '이동건']